body {
  font-family: 'Maven Pro', sans-serif;
  animation: grow 1s;
}

/* Article styles, just for the demo, don't have anything to do with the transition */
body {
  background-color: rgba(0, 0, 0, 0.1);
}
article {
  max-width: 42rem;
  padding: 1rem;
  margin: auto;
  font-size: 21px;
  line-height: 1.5;
}
.button {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #1dc4e7;
  color: #fff;
  transition: all 500ms ease;
}

.button-a {
  background-color: #1dc4e7;
  color: #fff;
  border-color: #cde1f8;
}

.button-big {
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
}

.button-rouded {
  border-radius: 5rem;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
/*
CONTACT
*/

a:hover {
  color: #1dc4e7;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp 0.8s ease-in-out forwards 0.8s;
}

.color-a {
  color: #1dc4e7;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  color: #4e4e4e;
}

.overlay-mf {
  background-color: #22242a;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.paralax-mf {
  position: relative;
  padding: 70px;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Sections */

.sect-4 {
  padding: 4rem 0;
}

.sect-pt4 {
  padding-top: 4rem;
}

.sect-mt4 {
  margin-top: 4rem;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #1dc4e7;
  margin: 0 auto;
}

.line-ff {
  width: 100%;
  height: 5px;
  background-color: #1dc4e7;
  margin: 0 auto;
}

.line-gf {
  width: 100%;
  height: 5px;
  background: linear-gradient(#535353, #1dc4e7);
  margin: 0 auto;
}

.line-zf {
  width: 100%;
  height: 5px;
  background: linear-gradient(#ffffff, #f06464);
  margin: 0 auto;
}

/* Title Left */

.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #1dc4e7;
  width: 100px;
  bottom: -12px;
}

/* Box */

.box-pl2 {
  padding-left: 2rem;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.list-ico {
  line-height: 2;
}

.list-ico span {
  color: #1dc4e7;
  margin-right: 10px;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*
CONTACT
*/

.footer-paralax {
  padding: 4rem 0 0 0;
}

.contact-mf {
  margin-top: 20px;
}

/*
CONTACT 
*/

#sendmessage {
  color: #0078ff;
  border: 1px solid #0078ff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}

.validation {
  color: black;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

@media (min-width: 577px) {
  .counter-box {
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }

  .card-blog {
    margin-bottom: 3rem;
  }

  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}
@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: white;
    min-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .row .row {
    width: 100%;
    max-width: 100%;
    margin: -0px;
    text-align: center;
    margin-right: -20px;
  }
}
@media only screen and (max-width: 767px) {
  .row .row {
    width: auto;
    max-width: none;
    margin: 0 -20px !important;
  }
}
.row {
  width: auto;
  max-width: none;
  margin: 0 -0px;
}
