#content {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 90px;
  letter-spacing: 4px;
  font-family: Oswald, sans-serif;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), 0 4px 8px rgba(0, 0, 0, 0.4),
    0 8px 16px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 5em;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

hr {
  max-width: 600px;
}
.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}

.intro .intro-content {
  position: fixed;
  height: 100%;
  min-height: 500px;
  width: 100%;

  text-align: center;
  position: absolute;
}

.intro .overlay-intro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.intro .intro-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  font-style: italic;
}

.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff !important;
}

.intro-single {
  height: 350px;
}

.intro-single .intro-content {
  margin-top: 30px;
}

.intro-single .intro-title {
  text-transform: uppercase;
  font-size: 3rem;
}

.intro-subtitle {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}
/**/
.myimage {
  border-radius: 50%;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
  width: 350px;
  padding-bottom: 90px;
}
